<% title "Tech Events Ireland" %>

<div class="events">
	<% @event_months.sort.each do |month, events| %>
		<h2><%= month.strftime('%B') %></h2>
		<% events.each do |event| %>
			<%= event.starting_at %> - <%= link_to event.title, event_path(event) %><br />
		<% end %>
	<% end %>
</div>

<p><%= link_to "Create account", new_user_registration_path %>
	<%= link_to "Login", new_user_session_path %></p>