<h1><%= @event.title %></h1>

<div>Starting: <%= @event.starting_at %></div>
<div>Ending: <%= @event.ending_at %></div>
<div>Price: <%= @event.price %></div>
<div>Information URL: <%= link_to @event.information_url, @event.information_url %></div>
<div>Booking URL: <%= link_to @event.booking_url, @event.booking_url %></div>

<div><%= @event.information.html_safe %></div>

<% if @event.venue %>
	<h2>Venue</h2>
	<div>Title: <%= @event.venue.title %></div>
	<div>Address: <%= @event.venue.address %></div>
	<div>County: <%= @event.venue.county %></div>
	<div>Lat/Lng: <%= @event.venue.lat %>, <%= @event.venue.lng %></div>
	<br />
<% end %>

<%= link_to "Home", root_path %>