<% title @event.title %>

<%= link_to "Home", root_path %>
<h1><%= @event.title %></h1>

<div>Starting: <%= friendly_time(@event.starting_at) %></div>
<div>Ending: <%= friendly_time(@event.ending_at) %></div>
<div>Price: <%= @event.price %></div>
<div>Information URL: <%= link_to @event.information_url, @event.information_url %></div>
<div>Booking URL: <%= link_to @event.booking_url, @event.booking_url %></div>

<div><%= @event.information.html_safe %></div>

<% if @event.venue %>
	<h2>Venue</h2>
	<div>Title: <%= @event.venue.title %></div>
	<div>Address: <%= @event.venue.address %></div>
	<div>County: <%= @event.venue.county %></div>
	<div>Lat/Lng: <%= @event.venue.lat %>, <%= @event.venue.lng %></div>
	<br />

	<div id='map'></div>
	<script>
	  
	  var map = mapbox.map('map', mapbox.layer().id('bkenny.map-awlws0es'));
  	map.ui['zoomer'].add();

	  var markerLayer = mapbox.markers.layer();

	  // Add interaction to this marker layer. This
	  // binds tooltips to each marker that has title
	  // and description defined.
	  mapbox.markers.interaction(markerLayer);
	  map.addLayer(markerLayer);

	  map.zoom(16).center({ lat: <%= @event.venue.lat %>, lon: <%= @event.venue.lng %> });

	  // Add a single feature to the markers layer.
	  // You can use .features() to add multiple features.
	  markerLayer.add_feature({
	      geometry: {
	          // The order of coordinates here is lon, lat. This is because
	          // we use the GeoJSON specification for all marker features.
	          // (lon, lat is also the internal order of KML and other geographic formats)
	          coordinates: [<%= @event.venue.lng %>, <%= @event.venue.lat %>]
	      },
	      properties: {
	          // these properties customize the look of the marker
	          // see the simplestyle-spec for a full reference:
	          // https://github.com/mapbox/simplestyle-spec
	          'marker-color': '#cc507c',
	          'marker-symbol': 'star-stroked',
	          "marker-size": "large",
	          title: '<strong><%= @event.venue.title %></strong>',
	          description: '<%= @event.venue.full_address %>'
	      }
	  });
	</script>
	<br />
	<% if @photos %>
		<h2>Photos</h2>
		<% @photos.each do |photo| %>
			<%= image_tag photo.url, :class => "venue_photo" %>
		<% end %>
		<br />
	<% end %>
<% end %>