<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- MapBox -->
  <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />

  <meta name="viewport" content="width=device-width, initial-scale=1; maximum-scale=1.0;
  user-scalable=0;">

</head>
<body>

	<div class="ui fixed transparent menu blue inverted">
	  <div class="header item">TechEvents Ireland</div>
	  <div class="right menu">
	    <div class="item">
        <a class="ui teal button" href="/users/sign_up">
        	Sign up
        </a>
      </div>
      <div class="item">
        <a class="ui green button" href="/users/sign_in">
        	Sign in
        </a>
      </div>
	  </div>
	</div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div class="wrapper">
		<%= yield %>
	</div>

	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '4f3fe666844d525ea400002e');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>
</body>
</html>
